*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
    margin: 0;
    padding: 0;
    
}

header{
    text-align: center;
    background: #ff9900;
    color: #fff;
    padding: 10px 0;
    font-family: 'Impact', sans-serif;
    
}
.container1{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.content1{
    text-align: center;
    background: #19c06c;
    color: #fff;
    padding: 10px 0;
}

.content2{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

.content2:hover{
    background: #cec0fc;
}

section{
    border: 2px solid #8f8c8f;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ff9900;
    margin-bottom: 3px;
    font-family: Arial, sans-serif;
}

.content3{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    font-family: Arial, sans-serif;

    background-color: #19c06c;
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.content3:hover{
    background: #075e62;
    color: #fff;
}


button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    font-family: Arial, sans-serif;

    background-color: #ff9900; 
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: rgb(255, 60, 0);
    color: #fff;
}

h2{
    text-align: center;
    font-family: Arial, sans-serif;
}
h3{
    font-family: Arial, sans-serif;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ff9900; 
    color: #fff; 
    transition: all 0.3s ease;
}


select:hover {
    background-color: rgb(255, 60, 0);
    color: rgb(255, 255, 255);
}


select option {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
}


select:focus {
    outline: none;
    border-color: #007bff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

h1{
    color: white;
    font-size: 45px;
    font-family: Helvetica;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

a:hover{
    color: rgb(255, 60, 0);
}

.a1:hover{
    color: #075e62;
}

/* estilos cotizador */
/* header */
.content4{
    text-align: center;
    background: #2F2794;
    color: #fff;
    padding: 5px 0;
}

.content5{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: cursive;
}

.content6{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: cursive;
}
/* menu */
.content6:hover{
    color: #807bc2;
}

.question-section {
    width: calc(33.33% - 20px); /* Calcula el 33.33% del ancho de su contenedor y resta el margen */
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.content7{
    text-align: center;
}

.content8{
        width: 30%;
        display: block;
        margin: auto;
        padding: 10px;
        font-family: cursive;
    
        background-color: #2F2794;
        color: #fff; 
        border: none;
        cursor: pointer;
        border-radius: 20px;
}
/* Botones */
.content8:hover{
    background: #655DCC;
    color: #fff;
    /* border: 1px dashed #7700ff; */
}

.content9{
    font-family: cursive;
}

.content10{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #2F2794;
    margin-bottom: 3px;
    font-family: cursive;
}

.content10:hover{
    background: #655DCC;
    color: #fff;   
}

.content11{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    border: 1px dashed #2F2794;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2F2794; 
    color: #fff; 
    transition: all 0.3s ease;
}
/* combobox */
.content11:hover{
    background-color: #655DCC;
    color: rgb(255, 255, 255);
}

/* .container1{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

.slider{
    width: 100vw;
    max-width: 1000%;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
} */

/* .slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 108%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
} */